@use 'variaveis';

.movies {
    margin-bottom: 70px;

    
    &__content {
        display: flex;
        color: variaveis.$corTexto;
        align-items: center;
        
        @media (max-width: 768px) {
            display: block;
        }
    

        &__text {
            margin-left: 45px;
            text-align: justify;
            padding: 24px;
            margin-right: 24px;
            @media (max-width: 768px) {
                padding: 0;
            }
        }

    }

    &__title {
        font-weight: normal;
        margin-left: 16px;
        margin-right: 16px;
        border-top: 3px solid variaveis.$corTitulos;
        border-radius: 10px;
    }

    &__image {
        height: 600px;
        margin-left: 40px;

        @media (max-width: 768px) {
            margin-left: 0;
            padding: 12px;
            height: auto;
        }    
    }

}