@use 'header';
@use 'news';
@use 'movies';
@use 'variaveis';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variaveis.$fontePrincipal;
}

body {
    background-image: url('../images/background.jpeg');
}

.title {
    font-size: 45px;
    color: variaveis.$corTexto;
    justify-content: center;
    padding: 24px;
    margin-left: 16px;
    margin-right: 16px;
    font-family: variaveis.$fonteTitulos;
    text-transform: uppercase;
}

.text {
    color: variaveis.$corTexto;
    text-align: justify;
    font-size: 30px;
    padding: 24px;
    margin-left: 18px;
    line-height: 1.5;
}

.images {
    width: 100%;
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 18px;
}