@use 'header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.jpeg');
}

.container {
    margin: 0 auto;
    max-width: 890px;
    width: 100%;
    justify-content: center;
}